.sneakpeakContainer {
    width: 700px;
    max-width: 700px;
    height: 500px;
    background-color: transparent;
    background-image: url("../../images/UI_iPad.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: auto;
    margin-bottom: 15px;
}