.introContainer {
    max-width: 1000px;
    height: 500px;
    background-color: transparent;
    /*overlap*/
    z-index: -10;
    position: absolute;
    top: 1400px;
    left: 0;
    right: 0;
    bottom: 740px;
    margin: auto;
    
}

.introContainer img {
    width: 90%;
    float: right;
}

#introText{
    position: absolute;
    width: 280px;
    margin-top: 100px;
    margin-left: 240px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    font-family: 'Noto Sans', sans-serif;
    color: #31383b;
    font-weight: normal;
    font-size: 16px;
}

#featureText {
    position: absolute;
    width: 300px;
    margin-top: 230px;
    margin-left: 620px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
    font-family: 'Noto Sans', sans-serif;
    color: #31383b;
    font-weight: normal;
    font-size: 16px;
}