.introContainer {
    max-width: 800px;
    height: 500px;
    background-color: transparent;
    /*overlap*/
    z-index: -1;
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    bottom: 740px;
    margin: auto;
}

.introContainer img {
    width: 65%;
    float: right;
}