
.footerContainer ul {
    list-style-type: none; /*remove bullet points*/
    margin: 0;
    padding: 0;
}
.footerItem {
    float: right;
    height: 80px;
}
.footerItem a {
    display: block;
    height: 80px;
}
.footerContainer {
    width: 100%;
    height: 80px;
    background-color: #31383b;
    padding: 0px 15px 0px 15px;
}
#logoFooter {
    width: 375px;
    background-image: url("../../../public/images/UI_Header_title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#twitterFooter {
    width: 30px;
    margin: 0px 8px 0px 8px;
    background-image: url("../../../public/images/UI_Header-Footer_twitter\ icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#openseaFooter {
    width: 30px;
    margin: 0px 8px 0px 8px;
    background-image: url("../../../public/images/UI_Header-Footer_opensea\ icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#rights {
    margin: 0px 8px 0px 8px;
    width: 200px;
    background-image: url("../../../public/images/UI_Footer_all\ right\ reserved.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
